.summaryContainer{
    position: absolute;
    left: 40%;
    right: 40%;
    width: 15rem;
    background-color: var(--summary-background);
    z-index: 5;
    padding: 1rem;
}

.pageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--summary-background);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 1rem;
}
