:root {
    --dark-background: rgb(16, 32, 45);
    --light-background: rgb(16, 97, 162);
    --transparent: rgb(0,0,0,0%);
  }

.app {
    background-color: var(--dark-background);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}